

/* Control bar Styles */
.controlbutton {
	padding:5px;
}

/* PlayHead */
.playhead {
	height:20px;
	background:blue;
}

/* IconVis */
.iconvis {
	height:20px;
	background:purple;

}

a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
    color:black;
}

a:active {
    text-decoration: underline;
    color:black;
}

.unselectable {
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}