body {
    margin:0;
    font-family:"Helvetica Nueue", sans-serif;
}

* {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.hidden {
    visibility: hidden;
    display:none;
}
/*Dilorom ** side-bar*/
 /*{
    font-family: "Lato", sans-serif;
}*/

main {
    height: 100%;
    background: green;
}
.half {
    height: 50%;
}
.half:first-child {
    background: #4ee878;
}
.half:last-child {
    background: #4ee878;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4ee878;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    font-size:20px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    
}
/*Dilorom*/

/* Control bar Styles */
.controlbutton {
	padding:5px;
}

.mute {
    font-size:18pt;
}

/* PlayHead */
.playhead {
	height:20px;
	background:blue;
}

/* IconVis */
.iconvis {
	height:20px;
	background:purple;

}

a:link {
    text-decoration: none;
    color:black; 
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
    color:black;
}

a:active {
    text-decoration: underline;
    color:black;
}


a:hover.no-underline {
    text-decoration: none;
}

a:active.no-underline {
    text-decoration: none;
}

.header {
    width:100%;
    height: 55px;
    font-size: 36pt;
    box-shadow: 0px 2px 10px #BABABA;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc170+0,ffcc8e+100 */
    background: #ffc170; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc170 0%, #ffcc8e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc170), color-stop(100%,#ffcc8e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffc170 0%,#ffcc8e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffc170 0%,#ffcc8e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc170 0%,#ffcc8e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffc170 0%,#ffcc8e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc170', endColorstr='#ffcc8e',GradientType=0 ); /* IE6-9 */


}

.header .menu {
    float:right;
    text-align: right;
    margin-right:0.5em;
}

.header .title {
    margin-left:0.5em;

}



.example-square {
    float:left;
    border:solid;
    border-width:1px;
    margin:10px;
}

.example-square.selected {
    border-width:3px;
}

.example-galley {
    width:10%;
    height:100%;
    float:left;
}

.animationoptions {
    margin-right:auto;
    margin-left: auto;

}



.unselectable, text {
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}


/*Dilorom *** start defining CSS for slide (type=range) */

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    margin:10px;
    /*required for proper track sizing in FF*/
    width: 100px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 30px;/*300*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

/* end defining CSS for slide (type=range) */